body{
  background-color: white;
}
.header{
  background-color:crimson;
  font-size:xx-large;
}
.gameBoard{
  height : 75vh;


}
.gameSquare{
  width: 33.33%;
  height: 33.33%;
 
}

.bt{
  border-top: 5px solid #09f !important;

}
.bb{
  border-bottom: 5px solid #09f !important;
  
}
.bsb{
  border-left: 5px solid #09f !important;
  border-right: 5px solid #09f !important;
}
.x10{
  font-size: 5rem;

}